body {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
    list-style: none;
}
.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 100% !important;
    height: 100% !important;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.treeview > span:hover {
    cursor: pointer;
    color: blue;
}

#end,
#toolbar {
    display: none !important;
}
#sizer {
    height: 100px;
    overflow: hidden;
}
